<h1>List Names</h1>

<div class="main-div">
  <table class="database-table">
    <tr>
      <th>Name</th>
      <th>Nickname</th>
      <th colspan="2"></th>
    </tr>

    <% @nickname.each do |nicknames| %>
      <tr>
        <td><%= nicknames.name %></td>
        <td><%= nicknames.nick %></td>
        <td><%= nicknames.nicknametwo %></td>
        <td><%= link_to 'Show', nickname_path(nicknames) %></td>
        <td><%= link_to 'Edit', edit_nickname_path(nicknames) %></td>
        <td><%= link_to 'Destroy', nickname_path(nicknames), 
          method: :delete,
          data: { confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>
  </table>
</div>


<h1>Nicknames</h1>


<div class="main-div">
  <table class="database-table">
    <tr>
      <th>Nickname</th>
      <th>Name</th>
      <th colspan="2"></th>
    </tr>

    <% @namenick.each do |namenicks| %>
      <tr>
        <td><%= namenicks.nickname %></td>
        <td><%= namenicks.namenick %></td>
        <td><%= namenicks.namenicktwo %></td>
        <td><%= link_to 'Show', namenick_path(namenicks) %></td>
        <td><%= link_to 'Edit', edit_namenick_path(namenicks) %></td>
        <td><%= link_to 'Destroy', namenick_path(namenicks), 
          method: :delete,
          data: { confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>
  </table>


</div>


