
<h1>Go ahead and search for names or nicknames</h1>

<%= form_tag(root_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search", :name => nil %>
<% end %>


<% if params[:search].present? %>
  <% if @nickname.present? %>
    <% @nickname.each do |nicknames| %>
      <%= nicknames.name %>
      <%= nicknames.nick %>
    <% end %>
  <% else %>
    <p>There are no posts containing the term(s) <%= params[:search] %>.</p>
  <% end %>
<% end %>
