<h1>List Names & Nicknames</h1>

<table class="MainTable">
  <tr>
    <th>Name</th>
    <th>Nickname</th>
    <th colspan="2"></th>
  </tr>

  <% @nickname.each do |nicknames| %>
    <tr>
      <td><%= nicknames.name %></td>
      <td><%= nicknames.nick %></td>
      <td><%= nicknames.addnick %></td>
      <td><%= link_to 'Show', nickname_path(nicknames) %></td>
      <td><%= link_to 'Edit', edit_nickname_path(nicknames) %></td>
      <td><%= link_to 'Destroy', nickname_path(nicknames), 
        method: :delete,
        data: { confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>
</table>