
<h1>Results</h1>

<p>
  <strong>Name:</strong>
  <%= @nickname.name %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @nickname.nick %>
</p>

<p>
  <strong>Nickname2:</strong>
  <%= @nickname.addnick %>
</p>

<%= link_to 'Edit', edit_nickname_path(@nickname) %> | 
<%= link_to 'Back', nicknames_path %>
