
<h1>Results</h1>

<p>
  <strong>Name:</strong>
  <%= @namenick.nickname %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @namenick.namenick %>
</p>

<p>
  <strong>Nickname2:</strong>
  <%= @namenick.namenicktwo %>
</p>

<p>
  <strong>Nickname2:</strong>
  <%= @namenick.namenickthree %>
</p>

<p>
  <strong>Nickname2:</strong>
  <%= @namenick.namenickfour%>
</p>


<%= link_to 'Edit', edit_namenick_path(@namenick) %> | 
<%= link_to 'Back', namenicks_path %>
