<%= form_for @post do |f| %>
  
  <div class="new_form">
    <p>
      <%= f.label :message %><br>
      <%= f.text_field :message %>
    </p>

    <p>
      <%= f.submit %>
    </p>
</div>  

<div class="error-message">
  <% if @post.errors.any? %>
    <div class="alert alert-danger" role="alert"><%= pluralize(@post.errors.count, "error") %>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </div>
  <% end %>
</div>

<% end %>

