<!DOCTYPE html>
<html>
  <head>
    <title>Smeknamn</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="background">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
        <ul class="nav navbar-nav navbar-left">
          <li class="front-banner"><%= link_to 'Smeknamn', root_path %></li>
        </ul>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li class="mainpath nav-text"><%= link_to '', root_path %></li>
          <li class="sendinpath nav-text"><%= link_to 'SendIn', new_post_path %></li>
        </ul>
      </div><!--.container-->
    </nav><!--.nav-->

    <div class="container">
      <%= yield %>
    </div><!--.container-->

  </body>
</html>
