<!DOCTYPE html>
<html>
  <head>
    <title>Smeknamn</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
          <li class="mainpath"><%= link_to 'Main', root_path %></li>
          <li><%= link_to 'SendIn', new_post_path %></li>
        </ul>
      </div><!--.nav-->    
    </div><!--.container-->


    <div class="container">
      <%= yield %>
    </div><!--.container-->

  </body>
</html>
