<!DOCTYPE html>
<html>
  <head>
    <title>Smeknamn</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-light bg-faded">
        <ul class="nav navbar-nav">
          <li><%= link_to 'Main', root_path %></li>
          <li><%= link_to 'Admin', welcome_admin_url %></li>
          <li><%= link_to 'New', welcome_new_url  %></li>
          <li><%= link_to 'SendIn', contact_url %></li>
        </ul>
      </div><!--.nav-->    
    </div><!--.container-->


    <div class="container">
      <%= yield %>
    </div><!--.container-->

  </body>
</html>
