<!DOCTYPE html>
<html>
  <head>
    <title>SthlmOut</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="main">
      <ul class="nav nav-tabs">
      <li role="presentation"> <%= link_to 'Home', nicknames_path %></li>
      <li role="presentation"><%= link_to 'New', new_nickname_url %></li>
      </ul>
     
  
      <%= yield %>
    </div>
  </body>
</html>
